<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="/users/" class="modal-body"  enctype="multipart/form-data">
                <h2 class="text-center">Upload Profile</h2>
                <div class="mb-3">
                    <input class="form-control" name="avatar" type="file" placeholder="profile">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>