<section class="highlight-clean" style="background-color: #eee;">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Ask Away</h2>
            <p class="text-center">Find your answers!</p>
        </div>
        {{#if user}}
        <div class="buttons">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ask Question</button>
        </div>
        {{else}}
        <div class="buttons">
            <a type="button" class="btn btn-outline-primary" href="/users/login">Please Login to ask Question</a>
        </div>
        {{/if}}
    </div>
</section>