<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="/questions" class="modal-body">
                <h2 class="text-center">Question</h2>
                <div class="mb-3"><input class="form-control" name="title" type="text" name="title" placeholder="Title">
                </div>
                <div class="mb-3"><input class="form-control" name="tags" type="text" name="tags" placeholder="Tags, please seperate by commas!"></div>
                <div class="mb-3"><textarea class="form-control" name="subtitle" name="subtitle" placeholder="Subtitle"
                        rows="14"></textarea></div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Ask Question</button>
                </div>
            </form>
        </div>
    </div>
</div>